@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    box-shadow: none;
    background-image:url("form_background.jpg");
    background-position: center;
    background-attachment: absolute;
    background-size: cover;

}
.nav {
    background-color: rgba(17, 119, 214, 0.979);
    overflow: hidden;
  }
  
.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: rgb(11, 81, 212);
}


.container{
    width: 400px;
    height:420px;
    margin:8% auto;
    background-color: black;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    box-shadow: -3px -3px 5px rgba(20, 17, 17, 0.842),
    3px 3px 5px black;
}
h2{
    text-align: center;
    color:rgba(17, 119, 214, 0.979);
    margin-bottom: 1.5em;
}

.container form{
    width:17em;
    position: absolute;
    align-items: center;
    top:60px;
    left:80px;
    transition: -5s all ease;
}

form input{
    width:100%;
    padding: 10px 5px;
    border:0;
    color:aliceblue;
    border-bottom: 0.1em solid gray;
    background: transparent;
    outline: none;
    font-weight: 500;

}
::placeholder{
    color:rgba(240, 170, 20, 0.938);
}

.btn{
    width:100%;
    margin: 1.5em auto;
    text-align: center;
}
form button{
    width:40%;
    border-radius: 4em solid;
    align-items: center;
    background-color:orange;
    padding: 5px 5px;
    font-style: bold;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    letter-spacing: 0.1em;
    margin: 0 5px;

}

#form2{
    left: 450px;
}


#form3{
    left:-450px;
}
#form4{
    left:900px;
}
