@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.nav {
    background-color: rgba(17, 119, 214, 0.979);
    overflow: hidden;
  }
.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  

.nav a:hover {
    background-color: rgb(11, 81, 212);
}
body {
    background:url("bmsce1.jpg");
    font-family: Verdana;
    text-align: center;
}


form {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}


.form-control {
    text-align: left;
    margin-bottom: 25px;
}


.form-control label {
    display: block;
    margin-bottom: 10px;
}


.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}


.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}


button {
    background-color: rgba(17, 119, 214, 0.979);
    border: 1px solid #777;
    border-radius: 4px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 20%;
    align-self: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
